
<div>
    <form action="/cerrarRespuesta" method="post">
        <input name="cursoID" type="hidden" value="{{cursoID}}">
        <input type="text" name="cedula">
        <button>Asignar</button>
    </form>
</div>

