
<div>
    <h1>Crear curso</h1>

    <form action="/crearCurso" method="post">
        <p>Nombre</p>
        <input type="text" name="nombre" required>
        <p>Id</p>
        <input type="number" name="id" required>
        <p>Descripción</p>
        <input type="text" name="descripcion" required>
        <p>Valor</p>
        <input type="number" name="valor" required>
        <p>Intesidad Horaria</p>
        <input type="number" name="intensidad" >
        <br><br>
        <p>Modalidad</p>
        <select name="modalidad">
            <option value="virtual">Virtual</option>
            <option value="presencial">Presencial</option>
        </select>
        <button>Crear</button>
    </form>
</div>
