
<div>
    <h1>Eliminar usuarios de cursos</h1>

    <form action="/listaCurso" method="post">
        <p>ID del Usuario</p>
        <input type="number" name="usuarioCedula" required>
        <p>ID del curso</p>
        <input type="number" name="cursoID" required>
        <button>Desinscribir</button>
    </form>
</div>
