<div>
    <h1>Registro de Usuarios</h1>

    <form action="/registro" method="post" enctype="multipart/form-data">
        <p>Cedula</p>
        <input type="number" name="cedula">
        <p>Contraseña</p>
        <input type="password" name="password">
        <p>Nombre</p>
        <input type="text" name="nombre">
        <p>Correo</p>
        <input type="email" name="correo" requiered>
        <p>Telefono</p>
        <input type="number" name="telefono">
        <p>Tipo</p>
        <select name="tipo">
            <option value="aspirante">Aspirante</option>
            <option value="interesado">Interesado</option>
        </select>
        <p>Foto Perfil</p>
        <input type="file" accept="image/*" name="foto">
        <br><br>
        <button>Registrar</button>
    </form>
</div>
<div>
    <form action="/login" method="post">
        <h2>Ingrese a la aplicacion</h2>
        <p>Cedula</p>
        <input type="number" name="cedula">
        <p>Contraseña</p>
        <input type="password" name="password">
        <button>Login</button>
    </form>
</div>
<br><br>
