    <h2>
        Estudiantes:
    </h2>
    <div>
        <table>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
            </tr>
            {{#each estudiantes}}
            <tr>
                <th>{{this.cedula}}</th>
                <th>{{this.nombre}}</th>
                <th>{{this.correo}}</th>
                <th>{{this.telefono}}</th>
            </tr>
            {{/each}}
        </table>
    </div>