<div>
    <h2>
        Estudiantes que han escrito
    </h2>
    {{#with (mostrarCursos cursos)}}
    <div>
        <table>
            <tr>
                <th>Id Curso</th>
                <th>Nombre del curso</th>
                <th>Cantidad de estudiantes</th>
                <th></th>

            </tr>
            {{#each this}}
            <tr>
                <th>{{this.id}}</th>
                <th>{{this.nombre}}</th>
                <th>{{this.cantidad}}</th>
                <th>
                    <form action="/cerrar" method="post">
                        <input name="cursoID" type="hidden" value="{{this.id}}">
                        <button>cerrar</button>
                    </form>
                </th>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/with}}

</div>