<br>
<img src="data:img/*;base64,{{foto}}" alt="NO hay foto" width="100" height="100">
<br><br>
{{#menuInteresado tipoSeccion}}
<div>
    <form action="/cursos" method="post">
        <button>Visualizar Cursos</button>
    </form>
</div>
{{/menuInteresado}}
{{#menuAspirante tipoSeccion}}
<div>
    <form action="/incribir" method="post">
        <button>Inscribir</button>
    </form>
</div>
<div>
    <form action="/eliminar" method="post">
        <button>Eliminar</button>
    </form>
</div>
{{/menuAspirante}}
{{#menuDocente tipoSeccion}}
<div>
    <form action="/infoCursos" method="get">
        <button>Información de mis cursos</button>
    </form>
</div>
{{/menuDocente}}
{{#menuCoordinador tipoSeccion}}
<div>
    <form action="/cursos" method="post">
        <button>Visualizar Cursos</button>
    </form>
</div>
<div>
    <form action="/crear" method="post">
        <button>Crear cursos</button>
    </form>
</div>
<div>
    <form action="/inscritosCursos" method="post">
        <button>Cerrar Curso</button>
    </form>
</div>
<div>
    <form action="/desinscribir" method="post">
        <button>Eliminar Personas de Cursos</button>
    </form>
</div>
<div>
    <form action="/modificarUsuario" method="post">
        <button>Modificar Usuario</button>
    </form>
</div>
{{/menuCoordinador}}
{{#menuSinRegistro tipoSeccion}}
<h3>Fallo al ingresar</h3>
{{/menuSinRegistro}}
